<%-include('./partials/header')%>
<div class="container d-flex justify-content-center " style="width: 100%;min-height:100vh;">

    <div class="row  my-5">
        <div class="">
            <a class="btn btn-outline-dark" href="/login"><i class="fas fa-arrow-left fs-2 "></i></a>
        </div>
        <h3>Have you forgotten your password?</h3>
        <form action="/forgot-password" method="post">
            <div class="mb-3">
                <label class="form-label" for="email">Podaj email</label>
                <input class="form-control" type="email" name="email" id="email">
            </div>
            <div class="my-5">
                <input class="btn google  shadow" type="submit" value="submit">
            </div>
        </form>
    </div>
</div>
<%-include('./partials/footer')%>