<%-include('./partials/header')%>
<div class="container d-flex justify-content-center " style="width: 100%;min-height:100vh;">
    <div class="row  my-5">
        <div class="col-12 d-flex justify-content-center align-items-center ">
            <a class="btn btn-outline-dark" href="/"><i class="fas fa-arrow-left fs-2 "></i></a>
            <img src="img/logo.png" alt="logo" width="20%">
            <div class="text-left ">Sign in with Google</div>
        </div>
        <hr>
        <div class="col-12 text-center">
            <h2>Log in to your account</h2>
        </div>
        <div class="col-6 text-center"><a class="btn active" href="/login">SIGN IN</a></div>
        <div class="col-6 text-center"><a class="btn " href="/register">SIGN UP</a></div>

        <form action="/login" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">

                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <% if (typeof errorMessage !== "undefined") { %>
                <p class="bg-danger text-light p-1 rounded"><%= errorMessage %></p>
                <% } %>
                <% if (typeof Message !== "undefined") { %>
                    <p class="bg-success text-light p-1 rounded"><%= Message %></p>
                    <% } %>
            <div class="mb-3 ">
                <button type="submit" class="btn google  shadow">SIGN IN </button>
            </div>
        </form>
        <a class="btn text-secondary" href="/forgot-password">Forgot Password?</a>
    </div>
</div>
<%-include('./partials/footer')%>